* {
box-sizing: border-box;
}

body {
    margin: 5px;
    background-color: #c4e8e5;
    height: 100vh;
}

header {
    display: flex;
    background-color: #255125;
    margin-bottom: 5px;
}

h1 {
    padding: 0 20px;
    color: #c4e8e5;
}

header img {
    max-width: 80px;
}

main {
    display: flex;
}

#main-container {
    display: flex;
    justify-content: start;
    box-sizing: border-box;
    background-color: #c4e8e5;
}

aside {
    overflow-y: scroll;
    height: 100vh;
}


.left-justified-area {
    box-sizing: border-box;
}

#park-services-banner {
    width: 906px;
    padding: 30px;
    background-color: #428142;
    color: #c4e8e5;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
}

#guest-list {
    background-color: #c4e8e5;
    height: 660px;
}

#guest-list ul {
    padding: 10px; 
}

#guest-list h2 {
    padding: 0 20px;
}

#guest-list li {
    list-style-type: none;
    padding: 4px;
 }

 #park-area-cards {
    display: flex;
    flex-wrap: wrap;
    width: 906px;
    height: 544px;
    justify-content: space-between;
    gap: 2px;
    margin-top: 2px;
    /* border: 2px solid white; */
 }

 .area-card {
    flex-basis: 300px;
    max-width: 400px;
    height: 270px;
    text-align: center;
    background-color: #428142;
 }

.area-card h2 {
    max-width: 300px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    color: #c4e8e5;
    background-color: rgb(37, 80, 37);
}

.area-card h2:hover {
    transform: translateY(-5px);
    cursor: pointer;
    font-size: 24px;
}

.services-offered {
    background-color: #428142;
    display: flex;
    flex-direction: column;
}

.area-card p {
    color: #c4e8e5;
    margin: 0px;
    padding: 15px 0;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}

.area-card p:hover {
    transform: translateY(5px);
    cursor: pointer;
    background-color:#2f662f;
}

.area-header {
    background-color: #2f662f;
    margin: 0;
    border: 2px solid #255125;
}