* {
box-sizing: border-box;
}

body {
    margin: 5px;
    background-color: #c4e8e5;
    /* background-color: #c4e8e5; */
    
}

header {
    display: flex;
    background-color: #255125;
    margin-bottom: 5px;
}

h1 {
    padding: 0 20px;
    color: #c4e8e5;
}

header img {
    max-width: 80px;
}

main {
    display: flex;
    /* border: 1px dotted rgb(244, 197, 80); */
}

#main-container {
    display: flex;
    justify-content: start;
    box-sizing: border-box;
    gap: 20px;
    background-color: #c4e8e5;
    /* background-color: #42aff8; */


}


.left-justified-area {
    /* border: 1px solid darkblue; */
    box-sizing: border-box;
}

#park-services-banner {
    width: 906px;
    padding: 30px;
    background-color: #428142;
    /* background-color:#255025; */
    color: #c4e8e5;
    /* border: 1px solid orange; */
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
}

#guest-list {
    background-color: #c4e8e5;
}

#guest-list ul {
    padding: 10px; 
}

#guest-list h2 {
    padding: 0 20px;
}

#guest-list li {
    list-style-type: none;
    padding: 4px;
    /* border: 1px dotted yellow; */
 }

 #park-area-cards {
    display: flex;
    flex-wrap: wrap;
    width: 906px;
    height: 544px;
    justify-content: space-between;
    gap: 2px;
    margin-top: 2px;
    /* border: 2px solid white; */
 }

 .area-card {
    flex-basis: 300px;
    max-width: 400px;
    height: 270px;
    text-align: center;
    /* border: 1px solid red; */
    background-color: #428142;
    /* border: 1px solid #255125; */
    /* border: 1px solid #255125; */
    /* box-shadow: 0 2px 4px #255025; */

 }

.area-card h2 {
    max-width: 300px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    color: #c4e8e5;
    background-color: rgb(37, 80, 37);
    
}

.services-offered {
    /* background-color: #1e3f1e; */
    background-color: #428142;
    display: flex;
    flex-direction: column;
    
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.services-offered p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.area-card p {
    color: #c4e8e5;
    /* color: #b6ceb6; */
    /* background-color: #1e3f1e; */
    /* border: 1px solid #255125; */
    margin: 0px;
    padding: 15px 0;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}

.area-header {
    background-color: #2f662f;
    margin: 0;
    border: 2px solid #255125;
    /* border-radius: 2px; */
}



/* footer {
    color: rgb(220, 217, 217);
    background-color: rgb(59, 59, 178);
    text-align: center;
} */